<apex:page showHeader="false" sidebar="false" standardController="Request__c" extensions="Axiom_RequestEntitlementsExtension" action="{!Init}">
    <apex:form >
        <apex:pageBlock title="Entitlements" id="pgBlock">
            <apex:pageBlockSection title="Grant Access" id="pgsGrantUser">
                <apex:pageBlockSectionItem >
                    <apex:outputPanel layout="block" style="float:right;margin:18px">
                        <apex:inputhidden id="UserGrantAccess" value="{!GrantUserList}"></apex:inputhidden>
                        <c:Userlookup TextBoxToPopulate="UserGrantAccess" SearchType="GRANT" Identifier="GrantAccess" RequestId="{!RequestId}" SecrecyGroup="{!Request__c.Secrecy_Group__c}"></c:Userlookup>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputPanel layout="block" style="margin-top:60px">
                        <a onclick="populateTextBox ('GrantAccess' , 'UserGrantAccess'); GrantAccess();" class="btn">Apply</a>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockSection title="Revoke Access" id="pgsRevokeUser">
                <apex:pageBlockSectionItem >
                    <apex:outputPanel layout="block" style="float:right;margin:18px">
                        <apex:inputhidden id="UserRevokeAccess" value="{!RevokeUserList}"></apex:inputhidden>
                        <c:Userlookup TextBoxToPopulate="UserRevokeAccess" SearchType="REVOKE" Identifier="RevokeAccess" RequestId="{!RequestId}" SecrecyGroup="{!Request__c.Secrecy_Group__c}"></c:Userlookup>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputPanel layout="block" style="margin-top:60px">
                        <a onclick="populateTextBox ('RevokeAccess' , 'UserRevokeAccess'); RevokeAccess();" class="btn">Apply</a>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <script>
            function resetTwistSection() {
                if ($cl('img[id$=pgsRevokeUser]').hasClass('hideListButton')) {
                    var element = $cl('img[id$=pgsRevokeUser]');
                    //for (var i = 0; i < element.length; i++)
                    twistSection(element[0]);
                }
            }

            $cl('img[id$=pgsRevokeUser]').click(function() {
                //alert($cl('img[id$=pgsRevokeUser]').hasClass('hideListButton') ) ;
                if ($cl('img[id$=pgsRevokeUser]').hasClass('hideListButton') && $cl('img[id$=pgsGrantUser]').hasClass('hideListButton')) {
                    var element = $cl('img[id$=pgsGrantUser]');
                    //for (var i = 0; i < element.length; i++)
                    twistSection(element[0]);
                }
            });

            $cl('img[id$=pgsGrantUser]').click(function() {
                if ($cl('img[id$=pgsGrantUser]').hasClass('hideListButton') && $cl('img[id$=pgsRevokeUser]').hasClass('hideListButton')) {
                    var element = $cl('img[id$=pgsRevokeUser]');
                    //for (var i = 0; i < element.length; i++)
                    twistSection(element[0]);
                }
            });

            resetTwistSection();
            </script>
        </apex:pageBlock>
        <apex:actionFunction name="GrantAccess" action="{!SaveGrantRequest}" rerender="pgBlock" oncomplete="resetTwistSection ();"></apex:actionFunction>
        <apex:actionFunction name="RevokeAccess" action="{!SaveRevokeRequest}" rerender="pgBlock" oncomplete="resetTwistSection ();"></apex:actionFunction>
    </apex:form>
</apex:page>