<apex:component controller="ActivityPlans_RuleController" id="taskPage">
    <apex:attribute name="tableName" type="string"  description="the name of the table" default="Related Rules"/>
    <apex:attribute name="parentRecordId" type="Id" assignTo="{!parentObjectId}" description="Id of the parent record"/>
    <apex:attribute name="filterQueryString" type="String" assignTo="{!relatedTaskFilterString}" description="Additional where conditions to pass to the task query" default=""/>
    <apex:attribute name="orderBy" type="String" assignTo="{!orderRelatedTasksBy}" description="string to fed into query as an order by statment" default=""/>
    <apex:attribute name="showNewButton" type="boolean" description="Show the new button (true) or hide it (false)" default="false"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <style>
        .hidden(
            display:none;
        }
    </style>
    <apex:form id="taskForm">
        <apex:pageBlock id="taskBlock" title="{!tableName}">            
                <apex:pageblockButtons rendered="{!showNewButton}">
                    <a href="/setup/ui/recordtypeselect.jsp?ent=Task&retURL=%2F{!parentObjectId}&save_new_url=%2F00T%2Fe?what_id%3D{!parentObjectId}%26retURL%3D%2F{!parentObjectId}" class="btn" target="_top" style="text-decoration:none">New Task</a>
                </apex:pageblockButtons>            
                <apex:pageBlockTable value="{!relatedRules}" var="item" id="taskTable" title="My Table" styleClass="TaskTable">        
                    <apex:column value="{!item.Activity_Plan__c}"/>
                    <apex:column value="{!item.Activity_Plan_Task_Template__c}"/>       
                    <apex:column title="Subject" headerValue="Subject">
                      <apex:outputLink value="/{!item.id}" target="_blank">{!item.name}</apex:outputLink>
                    </apex:column>
                    <apex:column value="{!item.Comparison_Type__c}"/>   
                     
                    <apex:column value="{!item.Logical_Operator__c}"/> 
                    <apex:column value="{!item.Comparison_Value__c}"/> 
                </apex:pageBlockTable> 
 
                 <a href="#" class="showMoreLink controlLinks" style="text-decoration:none;" >Show More | </a>   
                 <a href="/apex/{!$CurrentPage.Name}?id={!parentObjectId}&showAll=true" class="controlLinks" style="text-decoration:none;" target="_top" >Go to list >></a>
        
        </apex:pageBlock> 
       
    </apex:form>
    <script>
    $.noConflict();
    jQuery( document ).ready(function( $ ) {

        var showAll = getUrlParamater('showAll');

        if(showAll == undefined || showAll=="false")
        {
            jQuery('.showMoreLink').each(function(){
                jQuery(this).prev().find('tr').each(function(i, obj){
                    if(i > 5)
                    {
                        $(this).addClass('hidden');
                    }
                });

                if(jQuery(this).prev().find('tr.hidden').length == 0)
                {
                    jQuery(this).hide();
                }                  
            });
            
            jQuery('.showMoreLink').click(function(event){
                event.preventDefault();
                jQuery(this).prev().find('tr.hidden').each(function(i, obj){
                    if(i < 5)
                    {
                        $(this).removeClass('hidden');
                    }
                });            
                
                if(jQuery(this).prev().find('tr.hidden').length == 0)
                {
                    jQuery(this).hide();
                }          
            });
        }
        else
        {
            jQuery('.controlLinks').hide();
        }
    });    

    
    function getUrlParamater(sParam)
    {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) 
        {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam) 
            {
                return sParameterName[1];
            }
        }
    }
    </script>    

</apex:component>