<apex:component >
    <apex:attribute name="parentRecordId" type="Id"  description="Id of the parent record"/>
    <apex:attribute name="returnToId" type="Id"  description="Id of the object to return to after performing actions (usually same id as the record this component is on)" required="true"/>
    <apex:attribute name="title" type="string" required="false" default="Notes And Attachments"  description="title for the list"/>
    <apex:attribute name="hideButtons" type="boolean" required="false" default="false"  description="Should the New Note and New Task buttons be hidden?"/>
    <apex:attribute name="buttonTarget" type="string" required="false" default="_top"  description="Should the button open the page in the same window ('_self') or the a new window ('_blank')"/>
    <apex:attribute name="linkTarget" type="string" required="false" default="_top"  description="Should the links open the page in the same window ('_self') or the a new window ('_blank')"/>
    <apex:variable var="caseSafeId" value="{!LEFT(returnToId,15)}" />
    
    <div id="attachments_for_{!caseSafeId}">
        <apex:relatedList subject="{!parentRecordId}"  list="CombinedAttachments" pageSize="5" title="{!title}" >      
                <apex:facet name="header">            
                        <table>
                            <tr>
                                <td class="pbTitle">
                                    <h2 class="mainTitle">{!title}</h2>
                                </td>
                                <td class="pbButton">
                                        <input value="New Note" class="btn" name="newNote" onclick="window.open('/002/e?parent_id={!caseSafeId}&retURL=%2F{!caseSafeId}','{!buttonTarget}','newNote');" title="New Note" type="button"/>
                                        &nbsp;
                                        <input value="Attach File" class="btn" name="attachFile" onclick="window.open('/p/attach/NoteAttach?pid={!caseSafeId}&parentname=New%20Attachment&retURL=%2F{!caseSafeId}','{!buttonTarget}','attachFile');" title="Attach File" type="button"/>
                                        &nbsp;
                                </td>                                
                            </tr>
                        </table>                              
                </apex:facet>    
        </apex:relatedList>
    </div>


    <!--- Use javascript to hide the buttons. I know theoretically you could use output text and the rendered attribute to control the output of the buttons above, but when attempted
          the behavior was very odd. Sometimes causing the title to be missing as well as the buttons and other strange rendering issues. ---->
    <apex:includeScript value="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"/>
    <script>
        var j$ = jQuery.noConflict();

        if({!hideButtons})
        {
            j$("#attachments_for_{!caseSafeId} input.btn").hide();
        }
        j$("#attachments_for_{!caseSafeId} a[href]").attr('target','{!linkTarget}');

        j$("#attachments_for_{!caseSafeId} a.actionLink[href]").each(function(){
            var linkHref = j$(this).attr('href');
            linkHref = linkHref.replace('retURL','old_retURL');            
            j$(this).attr('href',linkHref+'&retURL=%2F{!caseSafeId}');        
        });
    </script>     

</apex:component>